# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'ah-api'
primary_region = 'ams'

[build]

[env]
  DATA_DIR = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = 'ah_data'
  destination = '/data'
